/* Fondos (background)

background es un shorthand no es una propiedad especifica son propiedades cuya unica 
función es agrupar a otras propiedades es como margin 

background: red;

background-color:red;

*/
html,body{
    height: 100%;
    margin: 0;
}
body{
    background-color: #eee;
    background-image: url(../logo_transparente.svg);
    background-repeat: no-repeat;
   
}

/* background-size background-position*/
/* background-size: darle tamaño al fondo; background-position: darle posicion al fondo */

body{
    /*width y heigth*/
   /*con auto se mantiene las mismas dimensiones de la iamgen*/
    /* background-size: contain | cover; */
    /*contain lo que hace es que el fondo va estar dentro del elemento que se quiere rellenar con ese fondo y cover va hacer que el fonso se estire hasta que hasta completar todo el elemento*/
    /* background-image: url(https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80); */
    background-size: 300px; /*puedes poner porcentajes*/
    /* background-position: left center right | top center bottom;  */
    /*el primero es x (horizontal) y el segundo es y (vertical) se pueden poner valores negativos como -100px 500px y porcentajes y si lo queremos centrar se pone en background-position: center y center */
    background-position: right 20px bottom 20px;
   

}