*,
*::before,
*::after {
    /*evita que el navegador agregue padding y margin*/
    box-sizing: border-box;
}

:root {
    --width: 400px;
    --heigth: 250px;
    --bg: yellow;
}

.box {
    width: var(--width);
    height: var(--heigth);
    background: var(--bg);
    color: red;
    /* El bord es parte de la caja*/
    /* border: 1px solid black; */
    /* es un shorthand es una sola propiedad que agrupa a varias propiedades
      border-width
      border-style
      border-color
      dashed segmento de linea (_ _ _)
      dotted (punteado ...) y double dos lineas
    */
    /* border-width: 4px 8px 16px 32px;
    border-style: solid dashed dotted double; */
    /* si no se aplica border-color muestra el color del elemento en este caso es negro*/
    /* border-color: black blue red brown; */
    /* border-top-width: 20px;
    border-top-style: dashed;
    border-top-color: black; */
    border-top: 20px dashed black;
    /* border-right-width: 10px;
    border-right-style: solid;
    border-right-color: red; */
    border-right: 10px solid red;
    /* border-bottom-width: 15px;
    border-bottom-style: double;
    border-bottom-color: blue; */
    border-bottom: 15px double blue;
    /* border-left-width: 30px;
    border-left-style: dotted;
    border-left-color: purple; */
    border-left: 30px dotted purple;
}


/* subrayar un texto con border*/

h1 {
    border: 20px solid;
    border-color: transparent;
    border-left-color: red;
    display: inline-block;
    padding: 0;
    /* line-height: 1; */
}


/*border-radius (redondea las esquinas) */

:root {
    --br: 50px;
}

.box-2 {
    width: var(--width);
    height: var(--heigth);
    background: var(--bg);
    /* border: 1px solid; */
    /* border-radius: 50%; */
    /*el máximo border-radius que se puede dar es 50%*/
    /* border-top-left-radius: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 160px; */
    /*border-radius: x y*/
    /* border-top-left-radius: 100px 200px;
    border-top-right-radius: 50px 20px;
    border-bottom-right-radius: 80px 120px;
    border-bottom-left-radius: 200px 120px; */
    /**lo anterior se puede simplificar con : 
    border-radius: x x x x / y y y y   son pares*/
    /* border-radius: 100px 50px 100px 50px/ 200px 20px 120px 120px; */
    border-radius: 70px / 110px;
    background: red;
    padding: 0.01px;
}

.box-3 {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

.play {
    width: 150px;
    height: 150px;
    /* background: white; */
    border: 75px solid;
    /* background: yellow; */
    border-color: transparent;
    border-left-color: white;
    margin: 50px auto 50px 160px;
    /*margin auto centra de lado*/
    /*que mida el 70% del tamaño de la figura en el eje y*/
    /*ver curso de animaciones*/
    transform: scaleY(0.65);
}


/* Propiedad outline: no afecta a la posicion (layout)*/

.box-4 {
    width: var(--width);
    height: var(--heigth);
    background: var(--bg);
    border: 10px solid black;
    /*se usa mas que nada para resaltar elementos por algun elemento
    por accesibilidad por ejemplo: mostrarle a un usuario donde llenar una información
    destacar un input ,mostrar errores */
    outline: 5px solid red;
}