/* :first-child :last-child*/


/*Selecciona el primer o ultimo hijo (respectivamente) de algún elemento HTML determinado. Si seleccionas desde el padre se debe dejar un espacio entre el selector y la pseudoclase:
ul :first-child{
	color: red;
}
Mientras que si seleccionas desde el hijo no es necesario:

li:last-child{
	color: red;
}*/


/* ul :last-child {
    background: yellow;
} */


/* div :first-child {
    background: red;
} */


/*se pone h2 como primer hijo*/


/* h2:first-child {
    background: red;
} */


/*se pone h3 como último hijo*/


/* h3:last-child {
    background: red;
} */


/*problematica encontrar el primer p y último p.
La forma de solucionarlo es con : 
:first-of-type :last-of-type


*/

p:first-of-type {
    /* background: yellow; */
}



/* :nth-child()  :nth-last-child() se encuentra un 
hijo o el ultimo hijo según su posicion

1) selecciona pares e impares
a) :nth-child(even) b) :nth-last-child(odd)

2) seleccionar a partir de una posicion
a) :nth-child(X) b) :nth-last-child(X)

3) utilizar un multiplo, donde n es un número entero que empezara de 0,1,2....n
a) :nth-child(Xn) b) :nth-last-child(Xn)

4)
a) :nth-child(Xn+-Y) b) :nth-last-child(Xn+-Y)


*/

/*selecciona pares*/
/* p:nth-child(even){
    background: yellow;
} */

/*selecciona imapres*/
/* p:nth-child(odd){
    background: yellow;
} */


/*2) a)*/
/* p:nth-child(5){
    background: yellow;
} */

/*2) b)*/
/* p:nth-last-child(5){
    background: yellow;
} */

/*3) b)*/
/* p:nth-last-child(3n){
    background: yellow;
} */

/*3) a)*/
/* p:nth-child(3n){
    background: yellow;
} */

/*4) a)*/
/* p:nth-child(3n+1){
    background: yellow;
} */

/*4) b)*/
p:nth-last-child(2n+1){
    /* background: yellow; */
}

/* Trucos CSS

   A) Encontrar los primeros X elementos
*/

/*se muestran los 5 primeros hijos y se ocltan los demás*/
p{
    display: none;
}

/* A) */
p:nth-child(-n+5){
    background: yellow;
    display: block;
}